spring:
  servlet:
    multipart:
      max-file-size: 50MB
      max-request-size: 50MB

  mvc:
    static-path-pattern: /static/**

  web:
    resources:
      static-locations: file:${IMAGE_SAVE_PATH}

  jpa:
    database: mysql
    properties:
      hibernate:
    generate-ddl: true
    hibernate:
      ddl-auto: update

  datasource:
    url: ${DB_URL}
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}

  mail:
    host: smtp.gmail.com
    port: 587
    username: ${EMAIL}
    password: ${GOOGLE_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          timeout: 5000
          starttls:
            enable: true


gemini:
  api:
    key: ${GEMINI_KEY}
    url: https://generativelanguage.googleapis.com/v1/models/gemini-2.5-flash:generateContent

ocean-trash:
  api:
    key: ${DATA_KEY}
    url: https://apis.data.go.kr/1192000/service/NationOceanGarbageMonitoringInfoService/NationOceanGarbageMonitoringInfoService




jwt:
  secret: ${SECRET_KEY}